* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$bg-bl: #171717;
$lilac: #684FC8;
$elec-blu: #5CE1E6;
$blu: #056676;

@font-face {
    font-family: 'Alaska';
    src: url(Alaska.otf) format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url(Alaska-Regular.ttf) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

$heading: 'Pompiere', cursive;
$sub-head: 'Alaska', sans-serif;
$body-font:'Cardo', serif;

body {
    background-color: $bg-bl;
}

// ------------------------- Index

// navbar

.navbar {
    width: 100%;
    flex-flow: wrap;
    border-bottom: 10px solid $lilac;

    .navbar-brand {
        width: 100%;
        text-align: center;
        padding: 1em 0 2em 0;
    }

    .navbar-toggler {
        border-color: $lilac;
        background-color: $lilac;
        
        .navbar-toggler-icon {            
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

    #navbarNav {
        width: 100%;
        
        .navbar-nav {
            width: 100%;
            text-align: center;
            justify-content: center;

            a {
                color: white;
                font-family: $sub-head;
                font-size: 1em;
                padding: 0 1em;

                &:hover {
                    color: $lilac;
                }
            }

        }
    }
}

// index body

.home-cont {
    width: 100%;
    position: relative;

    .text-cont {
        background-position: center;
        background-size: cover;
        width: 70%;
        margin: auto;
        text-align: center;
        z-index: 1;
    }

    #title-text {
        // background-image: url("./images/bg-masks\ dark.png");

        h3 {
            font-family: $body-font;
            font-style: italic;
            color: white;
            font-size: 1.5em;
        }
    
        h1 {
            font-family: $heading;
            letter-spacing: .1em;
            color: $elec-blu;
            font-size: 9em;
        }
    }

    #intro-text {
        // background-image: url("./images/bg-masks.png");

        h4 {
            font-family: $heading;
            color: $lilac;
            font-size: 4em;
        }

        h5 {
            font-family: $body-font;
            color: $bg-bl;
        }
    }

    .card-cont {
        width: 95%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        margin: 0 auto;

        .card {
            background-color: $bg-bl;
            width: 25vw;
            color: white;
            border: none;
            position: relative;

            .overlay {
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                background-color: $lilac;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: .5s ease;
            }

            &:hover .overlay {
                bottom: 0;
                height: 100%;
            }
            
            .text {
                white-space: nowrap; 
                color: white;
                font-size: 20px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            // .card-bod {
            //     padding: 1em 0;
            //     background-color: $bg-bl;
            //     text-align: center;

            //     a {
            //         margin: 0 auto;
            //     }
            // }

            a {
                font-family: $body-font;
            }

            img {
                filter: grayscale(100);
                width: 100%;
                margin: 0 auto;
                display: block;
                height: auto;
            }

            .btn {
                font-family: $sub-head;
                letter-spacing: .1em;
                color: white;
                // background-color: $blu;
                // border-radius: 14px;
                border: none;
                outline: none;
                box-shadow: none;

                &:hover {
                    background-color: $elec-blu;
                    color: $bg-bl;                
                }
            }
        }        
    }
}

.img-3D {
    z-index: -1;
}

.dark-cont {
    height: 80vh;
    display: flex;
    position: relative;

    #img-3D1 {
        width: 50em;
        position: absolute;
        top: 5em;
        left: 1em;
        opacity: .4;
    }

    #img-3D2 {
        width: 24em;
        position: absolute;
        bottom: 1em;
        right: 2em;
        opacity: .4;
    }
}

.light-cont {
    background-color: #ffffff;
    padding: 8em 0;
    position: relative;

    #img-3D3 {
        z-index: 0;
        width: 19em;
        position: absolute;
        top: 25em;
        right: 35em;
        opacity: 0.2;
    }
}

#pic-title {
    z-index: -1;
    background-color: $bg-bl;
    height: 30vh;
    width: 100%;
    position: relative;

    #img-3D4 {
        width: 15em;
        position: absolute;
        top: 30em;
        right: 15em
    }

    #img-3D5 {
        width: 7em;
        position: absolute;
        top: 25em;
        left: 13em;
    }
}

#cards-title {
    // height: 40em;
    position: relative;
    margin: 5em 0;
    margin-top: 10em;

    #img-3D6 {
        width: 30em;
        position: absolute;
        bottom: 0.5em;
        right: 40%;
        opacity: .4;
    }

    #img-3D7 {
        width: 21em;
        position: absolute;
        top: 25em;
        left: .5em;
        opacity: 0.4;
        transform: rotate(45deg);
    }

    #img-3D8 {
        width: 19em;
        position: absolute;
        bottom: 0em;
        right: 7em;
        opacity: 0.4;
    }    
}

// ------------------------- Footer

footer {
    width: 100%;
    padding: 0 8em;
    margin: 0 auto;
    border-top: 10px solid $lilac;
    color: white;

    h5 {
        font-family: $sub-head;
        margin-bottom: 1em;
        font-size: 1.4em;
    }

    a {
        color: $lilac;
        font-family: $sub-head;

        &:hover {
            color: white;
        }
    }

    #foot-soc {
        display: flex;
        align-content: center;

        a :nth-child(1) {
            color: $elec-blu;
            margin-right: 1em;
        }

        a {
            color: $blu;
            font-size: 1.5em;

            i:hover {
                color: $lilac;
            }
        }
    }
}



// ------------------------------------- About


#head-img {
    width: 100%;
    height: 25em;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    h1 {
        font-family: $heading;
        position: absolute;
        bottom: 1em;
        left: 1em;
        color: $elec-blu;
        font-size: 7em;
    }
}

#profiles {
    // grid-template-columns: auto auto;
    // grid-template-rows: 44em, 20em;
    // padding: 3em;
    display: block;
  
    .ab-cont {
        // display: block;
        display: flex;
        align-items: center;
        width: 95%;
        // height: 100%;
        // height: 50em;
        margin: auto auto;
        text-align: center;
        justify-content: center;
        // width: 100vw;
        // height: 80vh;
        // margin-bottom: 10em;

        // .mid-div {
            // display: flex;
            // align-items: center;
            // width: 80%;
            // height: 80%;
            // height: 100%;
            // height: 60em;
            // margin: 0 auto;
            // margin: auto auto;
            // display: grid;
            // grid-template-columns: auto auto;
            // grid-template-rows: 44em;
            // grid-gap: 3em;
            // text-align: center;
        
        // }
    }

    .purp {
        background-color: $lilac;
        padding: 3em;
    }

    .ab-txt {
        font-family: $body-font;
        // text-align: center;
        width: 50%;
        // float: right;

        .vl {
            border-left: 4px solid $elec-blu;
            height: 3em;
            margin-bottom: .5em;
            
        }

        h1 {
            font-family: $sub-head;
            color: white;
            text-align: left;
            margin: 0;
        }

        h5 {
            text-align: left;
        }
    }

    .ab-img {
        // height: 100%;
        width: 40%;
        // background-image: url(images/prof-bg.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
                
        #ef-img {
            width: 40%;
            margin: 0 auto;
            // box-shadow: 0px 5px 59px -10px rgba(41,41,41,1);
        }

        #cf-img {
            width: 40%;
            // box-shadow: 0px 5px 59px -10px rgba(41,41,41,1);
        }
    }
}

#cont1 {
    color: white;
    height: auto;
    border-top: 5px solid $elec-blu;    
}

#cont2 {
    height: auto;
    color: white;
    border-top: 5px solid $elec-blu;
    border-bottom: 5px solid $elec-blu;
}

#coll-div {
    width: 70%;
    margin: 4em auto;

    .card {
        border: $bg-bl;

        .card-header {
            background-color: $blu;
            font-family: $heading;

            button {
                outline: none !important;
                box-shadow: none;
                border: none;
                color: $elec-blu;
                text-decoration: none;
                font-size: .7em;

                &:hover {
                    text-decoration: none;
                    background-color: $elec-blu;
                    color: $blu;
                }
            }
        }
    }

    .card-body {
        background-color: $blu;
        color: $elec-blu;
    }
}

// ------------------------- Classes

#what {
    width: 70%;
    margin: 14em auto;
    text-align: center;
    // border-bottom: 5px solid $elec-blu;

    h1 {
        font-family: $sub-head;
        color: $elec-blu;
        font-size: 1.9em;
        margin-bottom: 1.5em;
    }

    p {
        font-family: $body-font;
        color: white;
        font-size: 1.3em;
    }
}

#bene-header {
    width: 50%;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 1.9em;
        color: $elec-blu;
        font-family: $sub-head;
        margin-bottom: 1.5em;
    }
}

#benefits {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) minmax(3em, 1fr);
    justify-content: center;

    .ben {
        text-align: center;
        background-color: $blu;
        height: 30vh;

        .text-div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: $elec-blu;

            div {
                width: 90%;
                // height: 100%;

                h1 {
                    width: 80%;
                    font-family: $heading;
                    margin: 0 auto;
                    letter-spacing: .2em;
                    display: block;
                }
    
                p {
                    width: 80%;
                    font-family: $sub-head;
                    font-size: 1.6em;
                    margin: 0 auto;
                    display: none;
                    color: $elec-blu;
                }
            }
        }
    }
}

.bigClass-div {
    width: 100%;
    margin: 15em auto;

    h1 {
        text-align: center;
        font-size: 1.9em;
        color: $elec-blu;
        font-family: $sub-head;
        margin-bottom: 1.5em;
    }

    h5 {
        width: 85%;
        text-align: center;
        color: white;
        margin: 2em auto;
        font-family: $body-font;
        font-size: 1.3em;      
    }

    #yearly {
        // width: 50%;
        width: 100%;
        display: grid;
        grid-template-columns: 10em 50em;
        // grid-template-rows: repeat(5, 1fr);
        margin: 6em auto;

        table {
            width: 100%;
            margin: 0 auto;
            background-color: $elec-blu;
            color: black;
        }

        // div {
        //     margin-bottom: 2em;
        // }

        // h5 {
        //     text-align: left;
        //     margin: 0;
        // }
    }

    #cov {
        background-color: #CF3838;
        width: 50%;
        margin: 2em auto;
        margin-bottom: 14em;
        border-radius: 20px;
        padding: 2em;
        text-align: center;

        p {
            font-size: 1.7em;
            color: white;
            font-family: $sub-head;
            margin: 0;
        }
    }

    .img-div {
        width: 100%;
        position: relative;
    
        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
        }

        .img-txt {
            text-align: center;
            position: absolute;
            display: block;
            top: 45%;
            left: 45%;
            // display: flex;
            // margin: auto;

            h1 {
                color: white;
                font-family: $heading;
                font-size: 4em;
            }
        }
    }
}

// -------------------------- Materials

#big-div {
    width: 100%;
    margin: 2em 0;
    padding: 2em 0;

    h1 {
        font-family: $heading;
        font-size: 3.5em;
        margin: 0 auto;
        margin-bottom: 1.5em;
        color: $elec-blu;
        text-align: center;
    }

    .link-div {
        width: 50%;
        border-radius: 14px;
        background-color: $blu;
        margin: 3em auto;
        padding: 2em;
        
        h2 {
            font-family: $sub-head;
            font-size: 1.5em;
            margin: 0 auto;
            margin-bottom: 2em;
            color: $elec-blu;
            text-align: center;
        }

        ul {
            width: 50%;
            margin: 0 auto;

            li {
                text-align: center;
                color: white;
                margin: 1em 0;
                list-style-type: none;

                a {
                    color: white;
                    font-size: 1.3em;
                    font-family: $body-font;
                }
            }
        }
    }
}

// ---------------------- Contact

#bigContDiv {
    width: 100%;

    #mid-div {
        width: 30%;
        margin: 6em auto;
        // background-image: url(./images/bg-masks.png);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: contain;

        h1 {
            font-family: $heading;
            color: $elec-blu;
            margin-bottom: 2em;
            text-align: center;
        }

        .contact {
            display: flex;
            align-items: center;
            margin: 3em 0;

            i {
                color: white;
                margin-right: 1em;
                font-size: 1.8em;
            }
            
            h4 {
                font-family: $body-font;
                color: white;
                margin: 0;
            }
        }
    }
}

#location-div {
    width: 100%;
    padding: 0 10em;
    display: block;
    margin: 5em 0;

    h1 {
        font-family: $heading;
        color: $elec-blu;
        margin-bottom: 2em;
        text-align: center;
    }

    #frame-div {
        display: flex;
        justify-content: space-evenly;
    }
}